<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>home</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME ICONS  -->
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE  -->
    <link href="/css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>

    <!-- HEADER END-->
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <h1>SMS</h1>
                </a>

            </div>

        </div>
    </div>
    <!-- LOGO HEADER END-->
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li>
                                <a class="menu-top-active" href="/">All Students</a>
                            </li>
                            <li>
                                <a href="/add">Add Student</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">All Students</h1>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <!--   Basic Table  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">Student</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>sid</th>
                                            <th>name</th>
                                            <th>gender</th>
                                            <th>age</th>
                                            <th>maniuplation</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody"></tbody>
                                </table>
                            </div>

                            <div id="pagenavbox"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //get all student json data to dom
        $.get("/students",function(data){
           $.each(data.results,function(i,n){
              //console.log(i)
              //console.log(n)

              $tr=$("<tr></tr>");
              $("<td></td>").html(n.sid).appendTo($tr);
              $("<td></td>").html(n.name).appendTo($tr);
              $("<td></td>").html(n.age).appendTo($tr);
              $("<td></td>").html(n.gender).appendTo($tr);
              $("<td><input type='button' class='btn btn-danger delbtn' value='delete' data-sid='"+n.sid+"'><input type='button' class='btn btn-danger modbtn' value='update' data-sid='"+n.sid+"'></td>").appendTo($tr);

              $tr.appendTo("#tbody")
           })
        })

        // use delegate to bind event
        $( "#tbody" ).delegate( ".delbtn", "click", function() {
            //alert("delete!")
            if(!confirm("r r sure u wnanna delete this??? ")){
               return;
            }
            var sid=$(this).attr("data-sid");
            var $this=$(this);
            $.ajax({
                type:"delete",
                url:"/student/"+sid, 
                success:function(data){
                    //console.log("delete data",data)
                    if(data.result==1){
                        alert("delete success!")
                        //window.location="/";// if success, home refresh
                        $this.parents("tr").remove();// dont refresh home

                    }else{
                        alert("some thing wrong")
                    }
                   
                }
            })

        });
        // use delegate to bind event
        $( "#tbody" ).delegate( ".modbtn", "click", function() {
            //alert("modify!")
            var sid=$(this).attr("data-sid");
            window.location="/student/"+sid;
        });

        
    </script>

</body>
</html>